.ql-input {
  height: 28px;
  line-height: 28px;
  border: 1px solid #000000;
  cursor: text;
  color: #222222;
  border-radius: 4px;
  padding-left: 4px;
  &:focus {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 0 2px #0000002a;
    outline: 0;
  }

  &.textarea {
    vertical-align: top;
  }
}