
.ql-button {
  min-width: 70px;
  padding: 0 20px;
  height: 28px;
  border: 1px solid #0B1746;
  border-radius: 4px;
  background: white;
}
.ql-button:active {
  outline: 0;
  background: rgba(11, 23, 70, 0.164)
}
.ql-button:focus {
  outline: 0;
}