
.ql-button {
  display: inline-block;
  text-align: center;
  min-width: 70px;
  padding: 0 20px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #0B1746;
  border-radius: 4px;
  background: white;
  :active {
    outline: 0;
    background: rgba(11, 23, 70, 0.164)
  }:focus {
    outline: 0;
  }
}