@import '../../Theme/theme.less';
.ql-menu {
  .menu-label {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid @border-color;
    user-select:none;
    &:hover {
      color: @primary-color;
      &:active {
        background: @default-lite-color;
      }
    }
  }
  .sub-menu {
    padding-left: 15px;
    .hide-children {
      height: 0;
      overflow: hidden;
      transition: height 0.5s;
    }
  }
}
