@import '../../Theme/theme.less';
.ql-progress-warper {
    display: inline-block;
    height: 20px;
    font-size: 12px;
    background: #b7d2ff;
    border-radius: 10px;
    overflow: hidden;
    color: white;
    .ql-progress-inner {
        display: inline-block;
        height: 20px;
        line-height: 20px;
        background: @primary-lite-color;
        border-radius: 10px;
        text-align: right;
        transition: width 0.5s;
        vertical-align: middle;
        .ql-progress-text {
            padding: 0 4px;
        }
    }
}