@font-color: #000000a6;

@border-color: #cccccc;

@default-color: #999999;
@default-lite-color: #e4e4e4;
@default-dark-color: #c9c9c9;
@default-shadow: #9999992a;

@primary-color: #6859f7;
@primary-dark-color: #5A49F8;
@primary-lite-color: #887BF9;
@primary-liter-color: #c2d9fd;
@primary-shadow: #6fa3f82a;

@warning-color: #ffa940;
@warning-lite-color: #ffb860;
@warning-dark-color: #ffa331;
@warning-liter-color: #f1e8be;
@warning-shadow: #ffa9402a;

@success-color: #6dd60e;
@success-lite-color: #6bdc54;
@success-dark-color: #64c40d;
@success-liter-color: #d4f8d7;
@success-shadow: #6dd60e2a;

@error-color: #ff5e59;
@error-lite-color: #ff9491;
@error-dark-color: #ff4844;
@error-liter-color: #f8cccc;
@error-shadow: #ff5e592a;
