
.demo-side {
  position: fixed;
  width: 200px;
  min-height: 100vh;
  overflow-y: scroll;
  float: left;
  border-right: 2px solid green;
}
.demo-main {
  margin-left: 220px;
}
.demo-block {
  margin: 0 10px 20px 10px;
  h3 {
    border-left: 4px solid #598fe6;
    padding-left: 4px;
  }
  h2 {
    margin-top: 0;
    background: #d9e6fc;
  }
}
.demo-button-type {
  .ql-button {
    margin-right: 4px;
  }
}
.demo-button-size {
  margin-top: 10px;
  .ql-button {
    margin-right: 4px;
  }
}
.demo-input-block {
  margin-bottom: 5px;
}
.demo-info {
  margin: 10px 10px;
  padding: 0 10px;
  color: #626262;
  font-size: 14px;
  &:before {
    content: '·';
    margin-right: 4px;
  }
}